@import "tailwindcss";

@source "./views/**/*.html";
@source "./components/**/*.html";
@source "./index.html";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@utility card-pengurus {
  width: 210px;
  height: 270px;
  flex: none;
}

@utility card-operasional {
  width: 230px;
  height: 290px;
  flex: none;
}
